{% extends "base.html" %}
{% load widget_tweaks %}
{{ wizard.form.media }}

{% block title %}
    Cadastrar evento
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="row">
                    <h1>Cadastre seu evento</h1>
                </div>
                <div class="row">
                    <form action="" method="post" class="form-group">
                        {% csrf_token %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                {{ error }}
                            </div>
                        {% endfor %}
                        <div class="row">
                            <h3>Sobre o evento</h3>
                        </div>
                        {% for field in form %}
                            {% if field.auto_id == 'id_dadosLocal' %}
                                <div class="row">
                                    <h3>Endereço do Evento</h3>
                                </div>
                                {% comment "lol" %}
                                    cep, endereco, bairro, cidade, estado ou URL caso online
                                {% endcomment %}
                                <div id="divDadosLocal">
                                    {% verbatim %}
                                    <input type="hidden" name="dadosLocal" id="id_dadosLocal" :value='dadosCompletos'>
                                    <div class="row" v-for='(valor, index) in dadosLocalEvento'>
                                        <div class="form-group">
                                            <label for="">{{ index }}</label>
                                            <input required :id="index" class="form-control" v-model='dadosLocalEvento[index]'>
                                        </div>
                                    </div>
                                    {% endverbatim %}
                                </div>
                                <script>
                                    let dadosLocais = new Vue({
                                        el: '#divDadosLocal',
                                        data:{
                                            dadosCompletos: null,
                                            dadosLocalEvento: {
                                                CEP: 00000-000,
                                                Endereço: '',
                                                Bairro: '',
                                                Cidade: '',
                                                Estado: '',
                                            },
                                        },
                                        watch: {
                                            dadosLocalEvento: {
                                                handler(newVal, oldVal){
                                                    console.log(this.dadosLocalEvento['CEP']);
                                                    this.dadosCompletos = JSON.stringify(this.dadosLocalEvento);
                                                },
                                                deep: true,
                                            }
                                        }
                                    })
                                </script>
                            {% else %}
                                <div class="row">
                                    <div class="form-group {% if field.errors %} has-error{% endif %}">
                                        <label for="{{ field.auto_id }}">{{ field.label }}</label>
                                        {% render_field field class="form-control" %}
                                        {% for error in field.errors %}
                                        <span class="help-block">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}

                        <div class="row">
                            <div class="col-md-6">
                                <a href="{% url 'account:index_user' %}" class="btn btn-danger form-control">Voltar</a>
                            </div>
                            {% comment "btnWizard" %}
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-primary form-control" value="{{ wizards.steps.next }}">Próximo</button>
                            </div>
                            {% endcomment %}
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-primary form-control">Salvar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %} 