{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/vue.js' %}"></script>
    <title>
        {% block title %}
          Titulo
        {% endblock title %}
    </title>
</head>
<body>
    {% block content %}
      
    {% endblock content %}
</body>
</html>