{% extends "base.html" %}

{% block title %}
    Dashboard
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <h1>Uma dasboard qualquer, fins de teste</h1>
        </div>
        <div class="row">
            <h2>Olá, {{ user.get_full_name }}</h2>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a style="margin-top: 10px" href="{% url 'account:update_user' %}" class="btn btn-primary form-control">Editar conta</a>
            </div>
            <div class="col-md-4">
                <a style="margin-top: 10px" href="{% url 'account:update_password' %}" class="btn btn-primary form-control">Alterar senha</a>
            </div>
            <div class="col-md-4">
                <a style="margin-top: 10px" href="{% url 'logout' %}" class="btn btn-primary form-control">Sair</a>
            </div>
        </div>
        <div class="row" style="margin-top: 10px">
            <div class="col-md-4">
                <a style="margin-top: 10px" href="{% url 'events:create_event' %}" class="btn btn-primary form-control">Criar evento</a>
            </div>
            <div class="col-md-4">
                <a style="margin-top: 10px" href="#" class="btn btn-primary form-control">x</a>
            </div>
            <div class="col-md-4">
                <a style="margin-top: 10px" href="#" class="btn btn-primary form-control">x</a>
            </div>
        </div>
        <div class="row">
            <h3>Seus Eventos</h3>
            <table class="table table-striped">
                <tr>
                    <th>Nome</th>
                    <th>Início</th>
                    <th>Fim</th>
                </tr>
                {% for permissao in permissoes %}
                    <tr>
                        <td>{{ permissao.event.nome }}</td>                 
                        <td>{{ permissao.event.data_inicio }}</td>
                        <td>{{ permissao.event.data_fim }}</td>
                    </tr>
                {% endfor %}
                
            </table>
        </div>
    </div>
{% endblock content %}