{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block title %}
    Cadastrar usuário
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="row">
                    <h1>Faça seu cadastro</h1>
                    <h5>Para criar um evento, realize o cadastro abaixo</h5>
                </div>
                <div class="row">
                    <form action="" method="post" class="form-group">
                        {% csrf_token %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                {{ error }}
                            </div>
                        {% endfor %}

                        {% for field in form %}
                            <div class="row">
                                <div class="form-group {% if field.errors %} has-error{% endif %}">
                                    <label for="{{ field.auto_id }}">{{ field.label }}</label>
                                    {% render_field field class="form-control" %}
                                    {% for error in field.errors %}
                                    <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}

                        <div class="row">
                            <input type="submit" class="btn btn-primary form-control" value="Cadastrar">
                        </div>
                    </form>
                    <div class="row">
                        <a href="{% url 'account:index_user' %}" class="btn btn-primary form-control">Voltar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript" src="{% static 'js/validation.js' %}"> </script>
<script type="text/javascript">
     var pass1 = document.getElementById("id_password1");
     var pass2 = document.getElementById("id_password2");
     var email = document.getElementById("id_email");
     var cpf = document.getElementById("id_cpf");
     pass1.insertAdjacentHTML( 'beforebegin', '<p class="customerror" id="pass1er"></p');
     pass2.insertAdjacentHTML( 'beforebegin', '<p class="customerror" id="pass2er"></p');
     email.insertAdjacentHTML( 'beforebegin', '<p class="customerror" id="emailer"></p');
     cpf.insertAdjacentHTML( 'beforebegin', '<p class="customerror" id="cpfer"></p');

 pass1.onchange = function(){
     verificarSenha(pass1, pass2, pass1er, pass2er)
 }

 pass2.onchange = function(){
     verificarSenha(pass1, pass2, pass1er, pass2er)
 }

 email.onchange = function(){
     verificarEmail(email, emailer)
 }

 cpf.onchange = function(){
     verificarCPF(cpf, cpfer)
 }
</script>

{% endblock content %}
