{% extends "base.html" %}

{% load widget_tweaks %}
{% load static %}
{% block title %}
    Alterar dados
{% endblock title %}    

{% block content %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="page-header">
            <h2>Alterar Dados</h2>
        </div>
        <form class="form-horizontal" action="" method="post">
            {% csrf_token %}
            <fieldset>
                {% for field in form %}
                <div class="form-group{% if field.errors %} has-error{% endif %}">
                    <label for="{{ field.auto_id }}" class="col-md-3 control-label">{{ field.label }}</label>
                    <div class="col-md-9">
                        {% render_field field class='form-control' %}
                        {% for error in field.errors %}
                        <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
                <div class="form-group">
                    <div class="col-md-4 col-md-offset-3">
                        <button type="submit" class="btn btn-primary form-control">Salvar</button>
                    </div>
                    <div class="col-md-4">
                        <a href="{% url 'account:index_user' %}" class="btn btn-primary form-control">Voltar</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<script type="text/javascript" src="{% static 'js/validation.js' %}"> </script>

<script type="text/javascript">
     var email = document.getElementById("id_email");
     email.insertAdjacentHTML( 'beforebegin', '<p class="customerror" id="emailer"></p');
 email.onchange = function(){
     verificarEmail(email, emailer)
 }
</script>
{% endblock content %}
